<form action='/{{id}}/add' method='post'>
    <label for='title'>
        <input type='text' name='title' placeholder='Title' required>
    </label>

    <label for='description'>
        <input type='text' name='description' placeholder='Description'>
    </label>

    <label for='status'>
        <input type='radio' name='status' value='0' checked> TODO<br>
        <input type='radio' name='status' value='1'> DOING<br>
        <input type='radio' name='status' value='0'> DONE<br>
    </label>
    
    <label>
        <input type='submit' value='Login'>
    </label>
</form>