<h1>T A S K - O</h1>

<div class="row">
    <div class="column">
        <h2 class="column-title">TODO</h2>

{{!-- Mock hardcoded content --}}
            <a href="/" class="task-link">
                <div class="task-container">
                    <div class="task-summary">
                        <h3 class='task-title'>Title</h3>
                        <h4 class='task-date'>23/1/2018</h4>
                    </div>
                </div>
            </a>

            <div class="task-container">
                <div class="task-summary">
                    <h3 class='task-title'>Title</h3>
                    <h4 class='task-date'>23/1/2018</h4>
                </div>
            </div>
{{!-- Till here --}}

        {{!-- {{#each tasks}}
            {{#if status = 0}}
                <div class="task-container">
                    <div class="task-summary">
                        <h3 class='task-title'>{{title}}</h3>
                        <h4 class='task-date'>{{date}}</h4>
                    </div>
                </div>
            {{/if}}
        {{/each}} --}}

    </div>
    <div class="column">
        <h2 class="coloumn-title">DOING</h2>

{{!-- Mock hardcoded content --}}
            <div class="task-container">
                <div class="task-summary">
                    <h3 class='task-title'>Title</h3>
                    <h4 class='task-date'>23/1/2018</h4>
                </div>
            </div>
{{!-- Till here --}}

    </div>
    <div class="column">
        <h2 class="coloumn-title">DONE</h2>
    </div>
</div>