body {
    background-color: pink;
    /* font-family: 'Comic Sans MS'; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.column{
    float: left;
    width: 33.33%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.task-title {
    font-size: 125%;

}

.task-date {
    color: grey;
    text-align: right;
}

.task-container {
    margin: 3px;
    /* background-color: rgb(240, 240, 240) */
    background-color: rgb(255, 250, 250);
    border-radius: 5px;
}

.task-summary {
    margin: 5px;
}

.task-link{
    text-decoration: none;
}

.task-link:hover .task-title, .task-link:visited {
    color: black;
}
