@import url('https://fonts.googleapis.com/css?family=Aleo');

body {
    background-color: pink;
    /* font-family: 'Comic Sans MS'; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.task-o-logo-border {
    display: inline-block;
}

.task-o-logo link:hover, .task-o-logo-link:visited {
    text-decoration: none;
    color: black;
}

.task-o-logo {
    padding: 3px;
    font-family: 'Aleo', serif;
    font-weight: bolder;
    border-style: solid;
    color: black;
}

.column{
    float: left;
    width: 33.33%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.tasks-title {
    font-size: 125%;

}

.tasks-date {
    color: grey;
    text-align: right;
}

.tasks-container {
    margin: 3px;
    /* background-color: rgb(240, 240, 240) */
    background-color: rgb(255, 250, 250);
    border-radius: 5px;
}

.tasks-summary {
    margin: 5px;
}

.tasks-link{
    text-decoration: none;
}

.tasks-link:hover .tasks-title, .tasks-link:visited {
    color: black;
}
